{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Back Office</h1>

    <div class="container">
    
        <a href="{{ path('admin_article_gestion') }}" class="btn btn-primary">Gestion Article</a>
    
    </div>
{% endblock %}
